
# Add your Gemini API key from Vertex AI here
GEMINI_API_KEY=YOUR_API_KEY_HERE
# Gemini model for image generation
GEMINI_MODEL=gemini-3.1-flash-image-preview

# Wordpress config
WP_SITE_URL=http://your-wordpress-site-url
WP_USERNAME=your-username
WP_APP_PASSWORD="your-application-password"